h1 {
    color: rgb(31, 170, 31);
    font-family: "TitelFont";
    font-size: 70px;
}

@font-face {
    font-family: "TitelFont";
    src: url(fonts/ChopinScript.ttf);
}   

#Oben {
    background-color: chartreuse;
    
}
#Mitte{
    color: rgb(31, 170, 31);
font-family: "New Times Roman";
font-size: 25px;
}
a{
    color: green;
    font-size: 30px;
}
